// fonts

// vars
$default_font: 'Roboto', sans-serif;
$accent_font: 'Roboto Condensed', sans-serif;
$default_color: red;
$accent_color: blue;

// default-sets
html {
	font-size: 10px;
	height: 100%;
	* {
		box-sizing: border-box;
		outline: none;
	}
}

body {
	overflow-x: hidden;
	min-width: 320px;
	font-size: 1.6rem;
	line-height: 1;
	padding: 0;
	margin: 0;
	height: 100%;
	&.hidden {
		overflow: hidden;
	}
}

main {
	min-height: 100%;
	height: auto !important;
	.footer-indent {
		padding-bottom: 10rem;
	}
}

footer {
	margin-top: -10rem;
	height: 100px;
	background-color: tomato;
}

// typographic
h1, .h1 {
}

h2, .h2 {
}

h3, .h3 {
}

p {
}

ul, ol {
	list-style: none;
	padding: 0;
	li {
	}
}

a {

}

// grid
.container {
	padding: 1px 20px;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}