html {
  font-size: 10px;
  height: 100%; }
  html * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none; }

body {
  overflow-x: hidden;
  min-width: 320px;
  font-size: 1.6rem;
  line-height: 1;
  padding: 0;
  margin: 0;
  height: 100%; }
  body.hidden {
    overflow: hidden; }

main {
  min-height: 100%;
  height: auto !important; }
  main .footer-indent {
    padding-bottom: 10rem; }

footer {
  margin-top: -10rem;
  height: 100px;
  background-color: tomato; }

ul, ol {
  list-style: none;
  padding: 0; }

.container {
  padding: 1px 20px; }
  .container:after {
    content: '';
    display: table;
    clear: both; }
